/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-{{namespace}}-{{slug}} {
  white-space: nowrap;
  max-width: none;
  text-align: center;
  border: 3px dotted #ccc;
}
